version: "3.8"
services:
  postgres:
    container_name: postgres
    image: postgres:12
    networks:
      - backend
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes: 
      - ./pgdata:/var/lib/postgresql/data


  backend:
    image: backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - elasticsearch

    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    build:
      context: ./
      dockerfile: Dockerfile
    command: ["npm", "run","start:dev"]
    restart: on-failure
    networks:
      - backend

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.1
    container_name: autosearch
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail localhost:9200/_cat/health?h=st || exit 1" ]
      interval: 50s
      timeout: 30s
      retries: 5
    environment:
      - cluster.name=test-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    restart: always
    ports:
      - 9300:9300
      - 9200:9200
    networks:
      - backend


networks:
  backend:
    driver: bridge

volumes: 
  pgdata:
